# Experiements with sysml v.2

## About this system

## Structure

## Interfaces

This chapter provides a table listing all interface types defined for this system, including their names and descriptions.

| Name | Description |
|------|-------------|
{% for name, properties in port_defs.items() %}
| {{name}} | {{properties['description']}} |
{% endfor %}